html {
    margin: 0, auto;
    padding: 0;

}

body {
    margin: 0px;
}

.game-cube {
    background-color: pink;
    
}
.crate {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 160px;
}

.crate > img {
    width: 100px;
    height: 100px;
}

.stats{
    font-size: 2em;
    font-weight: 600;
    padding-left: 400px;
    padding-top: 30px;
}